/* Override default fonts */
body, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif !important;
}
/* Justify all paragraph text */
p {
  text-align: justify !important;
}
li, blockquote {
  text-align: justify !important;
}

